

<div id="tv">
  <div id="map"></div>
  <div id="map2"></div>
  <div class="timeslot">
    <div class="timeslotname">9:25 – 10:15 Session 1</div>

    <div id="sessions">
    </div>

  </div>

  <div id="nexttimeslot">
     <div class="nexttimeslotname">Up Next</div>

    <div id="nextsessions">
    </div>
  </div>

  {{#if demoMode}}
    <div class="demo-mode">
      DEMO MODEs - time slots advance every 3 seconds
    </div>
  {{/if}}

  {{#if fakeData}}
    <div class="fake-data">
      FAKE DATA - talks are assigned to random rooms
    </div>
  {{/if}}

  <div class="clock">
    Its 4:30 somewhere
  </div>
  <div class="devdot-block">
    Contribute to this project at<br>
    github.com/bestbuyapis
  </div>

</div>