<div id="map">
  {{#if demoMode}}
    <div class="demo-mode">
      DEMO MODE - time slots advance every 3 seconds
    </div>
  {{/if}}

  <div class="clock">
    Its 4:30 somewhere
  </div>
  <div class="devdot-block">
    Contribute to this project at<br>
    github.com/bestbuyapis
  </div>
</div>
