<div class="map">
  <div class="clock">
  Its 4:30 somewhere
  </div>

  <div class="nokomis-room absolute"></div>
  <div class="nokomis-text absolute">
  Like it or not, money is the lifeblood of a business get investors to give it to you!
  </div>

  <div class="badabing-room absolute"></div>
  <div class="badabing-text absolute">
  Here is another one
  </div>

  <div class="badaboom-room absolute"></div>
  <div class="badaboom-text absolute">
  and another one goes here
  </div>
</div>
