<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/scripts/jquery/jquery.min.js"></script>
    <script src="/scripts/moment/moment.js"></script>
  </head>
  <body>
    <div class="container">
    {{{body}}}
    </div>
    <script>
      window.fakeData = {{fakeData}};
      window.demoMode = {{demoMode}};
    </script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
