<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/scripts/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquery.gridster.css" />
    <link rel="stylesheet" href="/css/control.css" />
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/jquery.gridster.js"></script>
    <script src="/scripts/moment/moment.js"></script>
  </head>
  <body>
    <div class="container">
      {% block flash %}
        {% include "includes/flash.html" %}
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>