<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/scripts/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/scripts/gridster/jquery.gridster.min.css" />
    <script src="/scripts/jquery/jquery.min.js"></script>
    <script src="/scripts/gridster/jquery.gridster.min.js"></script>
    <script src="/scripts/notifyjs/notify.js"></script>
    <script src="/scripts/moment/moment.js"></script>
    <script src="/scripts/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/fittext.js/jquery.fittext.js"></script>
    <script type="text/javascript" src="/scripts/available-widget.js"></script>
  </head>
  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>