body {
  background: #50514F;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Yep! */
}

.gridster * {
  margin:0;
  padding:0;
}

.gridster > ul {
  list-style-type: none;
}

.gridster > ul > li.styled {
  background: #FDFFFA;
  border: 1px solid #247BA0;
  border-radius: 5px;
  line-height: 1;
  -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
}

li div.clock-block {
  background: #929497;
  text-align: center;
  color: #FDFFFA;
  text-shadow: 1px 1px 2px black;
  height: 100%;
  border:1px solid green;
}

div.session-block {
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.twitter-block {
  position: relative;
}
.twitter-block > div {
  padding: 5px;
}
div.tweet-top {
  position: absolute;
  top: 0;
  bottom: 85%;
  left: 0;
  right: 0;
  background: #003b64;
  color: white;
  border-radius: 5px 5px 0 0;
}
div.tweet-middle {
  position: absolute;
  top: 15%;
  bottom: 20%;
  width: 100%;
  left: 0;
  right: 0;
  background: transparent;
  font-family: Georgia, "Times New Roman", Palatino, serif;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
div.tweet-bottom {
  position: absolute;
  text-align: right;
  color: #003b64;
  top: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.tweet-highlight {
  font-weight: bold;
}

.top-widgets > div {
  height: 5em;
}

.top-widgets .left, .top-widgets .right, .top-widgets .middle {
  background: #FDFFFA;
  border-bottom: 1px solid #247BA0;
}
.top-widgets .left {
  border-left: 1px solid #247BA0;
  border-radius: 0 0 0 5px;
}
.top-widgets .right {
  border-right: 1px solid #247BA0;
  border-radius: 0 0 5px 0;
}