@keyframes color-change-2x {
  0% {
    background: #626467;
  }
  50% {
    background: #929497;
  }
  100% {
    background: #b2b4b7;
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
}

#map {
    position: relative;
    background-size: cover;
    background: url('/images/map.svg') no-repeat;
    width: 1920px;
    height: 1080px;
}

.clock {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;

  background: #929497;
  color: #FDFFFA;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  text-shadow: 1px 1px 2px black;
}

.absolute {
  z-index: 2;
  display: block;
  position: absolute;
  font-size: 24px;
  background: yellow;
  color: black;
}

.youarehere-marker {
  position: absolute;
  width: 48px;
  height: 48px;
  box-shadow: 3px 3px 5px #000;
  border-radius: 190px;
  z-index: 40;
}

.devdot-block {
  animation: color-change-2x 30s linear infinite alternate both;
  position: absolute;
  top: 1015px;
  width: 350px;
  left: 1074px;
  color: white;
  font-family: monospace;
  font-size: 20px;
  text-shadow: 1px 1px 2px black;
  padding: 10px 20px;
}
