<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/jquery.gridster.css" />
    <script src="/scripts/jquery/jquery.min.js"></script>
    <script src="/scripts/jquery.gridster.js"></script>
    <script src="/scripts/moment/moment.js"></script>
    <script src="/scripts/notifyjs/notify.js"></script>
    <script src="/scripts/socket.io/socket.io.js"></script>
    <script src="/scripts/fittext.js/jquery.fittext.js"></script>
    <script src="/scripts/available-widget.js"></script>
    <script src="/scripts/nunjucks/nunjucks.min.js"></script>
  </head>
  <body>
    <div style="width:{% if tv.orientation == "horizontal" %}1900px{% else %}1060px{% endif %}"
    <div class="container-fluid">
      <div class="row hidden-lg-up">
        <div class="col-xs-12">
          Sorry. This interface is designed specifically for TVs. If you're at Minnebar and using a phone, the Minnebar iOS or Android app is what you should be using.
        </div>
      </div>

      <div class="row top-widgets">
        <div class="col-xs-6 left">
          <div class="top-widget" style="font-family:monospace">
            Want to redesign this TV's layout?<br/>
            <ol style="font-size:90%">
              <li>Follow @MinnebarKiosk (to DM you the code)</li>
              <li>Tweet <strong>@MinnebarKiosk Let me control TV {{tv.id}}</strong></li>
            </ol>
          </div>
        </div>
        <div class="col-xs-3 middle">
          <div class="top-widget" style="padding-top:10px;font-size:90%">
            {% if current.user != "Best Buy" %}
              This TV's layout was last updated <span id="updated-time" data-time="{{ current.timestamp }}"></span>.<br>
              It was designed by <strong>@{{ current.user }}</strong> - tell @{{ current.user }} they did a great job!
            {% endif %}
          </div>
        </div>
        <div class="col-xs-3 right text-right">
          <img src="/images/hackathon.png" style="max-height:100%">
        </div>
      </div>

      <div class="gridster">
        <ul>
        </ul>
      </div>

      <script type="text/javascript" src="/scripts/setup-tv.js"></script>
      <script type="text/javascript">

        var tvConfig = {
          id: '{{ tv.id }}',
          layouts : {{ layouts | safe }}
        }

        window.setupTv(tvConfig);
      </script>

    </div>
  </body>
</html>
