{% extends "includes/layout-admin.html" %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h2>TV {{ tv.id }} - Available Widgets</h2>
      <ul id="widget-toggles" class="list-inline"></ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="gridster">
        <ul>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sx-12 text-xs-center" style="margin-top:60px">
      <small>
        Grid system provided by <a href="https://github.com/DecksterTeam/gridster.js">gridster.js</a><br>
        This project is available on <a href="https://github.com/BestBuyAPIs/minnebar-11-tvs">GitHub</a>
      </small>
    </div>
  </div>

  {% if includeTracking %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-6257094-16', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}

  <script type="text/javascript" src="/scripts/available-widget.js"></script>
  <script type="text/javascript" src="/scripts/setup-tv-control.js"></script>
  <script type="text/javascript">
    var tvConfig = {
      id: '{{ tv.id }}',
      max_cols: {% if tv.orientation == "horizontal" %}9{% else %}5{% endif %},
      min_cols: {% if tv.orientation == "horizontal" %}9{% else %}5{% endif %},
      layouts : {{ layouts | safe }}
    }

    window.setupTVControl(tvConfig);
  </script>
{% endblock %}
