{% extends "layout-admin.html" %}

{% block content %}
  <div class="row">
    <div class="col-xs-8">
      <strong><a href="/tv/{{ tv.id }}" target="_blank">TV {{ tv.id }}</a></strong>
      <button class="js-seralize btn btn-default" data-layout="default">Load default layout</button>
      <button class="js-seralize btn btn-default" data-layout="current" id="load-current-layout">Load current layout</button>
    </div>
    <div class="col-xs-4 text-right">
      <form id="save-layout" method="post" action="{{ path }}">
        <input type="hidden" name="cmd" value="save">
        <input type="hidden" name="layout" value="" id="final-layout">
        <button class="js-save btn btn-primary">Save</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Available Widgets</h2>
      <ul id="widget-toggles" class="list-inline"></ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="gridster">
        <ul>
        </ul>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/scripts/available-widget.js"></script>
  <script type="text/javascript" src="/scripts/setup-gridster.js"></script>
  <script type="text/javascript">
    var tvConfig = {
      id: {{ tv.id }},
      max_cols: {% if tv.orientation == "horizontal" %}15{% else %}8{% endif %},
      min_cols: {% if tv.orientation == "horizontal" %}10{% else %}7{% endif %},
      layouts : {{ layouts | safe }}
    }

    setupGridster(tvConfig);
  </script>
{% endblock %}
